---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.github.com/repos/sourcegraph/sourcegraph
    method: GET
  response:
    body: '{"id":41288708,"node_id":"MDEwOlJlcG9zaXRvcnk0MTI4ODcwOA==","name":"sourcegraph","full_name":"sourcegraph/sourcegraph","private":false,"owner":{"login":"sourcegraph","id":3979584,"node_id":"MDEyOk9yZ2FuaXphdGlvbjM5Nzk1ODQ=","avatar_url":"https://avatars0.githubusercontent.com/u/3979584?v=4","gravatar_id":"","url":"https://api.github.com/users/sourcegraph","html_url":"https://github.com/sourcegraph","followers_url":"https://api.github.com/users/sourcegraph/followers","following_url":"https://api.github.com/users/sourcegraph/following{/other_user}","gists_url":"https://api.github.com/users/sourcegraph/gists{/gist_id}","starred_url":"https://api.github.com/users/sourcegraph/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/sourcegraph/subscriptions","organizations_url":"https://api.github.com/users/sourcegraph/orgs","repos_url":"https://api.github.com/users/sourcegraph/repos","events_url":"https://api.github.com/users/sourcegraph/events{/privacy}","received_events_url":"https://api.github.com/users/sourcegraph/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/khulnasoft/khulnasoft","description":"Code
      search and navigation tool (self-hosted)","fork":false,"url":"https://api.github.com/repos/khulnasoft/khulnasoft","forks_url":"https://api.github.com/repos/khulnasoft/khulnasoft/forks","keys_url":"https://api.github.com/repos/khulnasoft/khulnasoft/keys{/key_id}","collaborators_url":"https://api.github.com/repos/khulnasoft/khulnasoft/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/khulnasoft/khulnasoft/teams","hooks_url":"https://api.github.com/repos/khulnasoft/khulnasoft/hooks","issue_events_url":"https://api.github.com/repos/khulnasoft/khulnasoft/issues/events{/number}","events_url":"https://api.github.com/repos/khulnasoft/khulnasoft/events","assignees_url":"https://api.github.com/repos/khulnasoft/khulnasoft/assignees{/user}","branches_url":"https://api.github.com/repos/khulnasoft/khulnasoft/branches{/branch}","tags_url":"https://api.github.com/repos/khulnasoft/khulnasoft/tags","blobs_url":"https://api.github.com/repos/khulnasoft/khulnasoft/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/khulnasoft/khulnasoft/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/khulnasoft/khulnasoft/git/refs{/sha}","trees_url":"https://api.github.com/repos/khulnasoft/khulnasoft/git/trees{/sha}","statuses_url":"https://api.github.com/repos/khulnasoft/khulnasoft/statuses/{sha}","languages_url":"https://api.github.com/repos/khulnasoft/khulnasoft/languages","stargazers_url":"https://api.github.com/repos/khulnasoft/khulnasoft/stargazers","contributors_url":"https://api.github.com/repos/khulnasoft/khulnasoft/contributors","subscribers_url":"https://api.github.com/repos/khulnasoft/khulnasoft/subscribers","subscription_url":"https://api.github.com/repos/khulnasoft/khulnasoft/subscription","commits_url":"https://api.github.com/repos/khulnasoft/khulnasoft/commits{/sha}","git_commits_url":"https://api.github.com/repos/khulnasoft/khulnasoft/git/commits{/sha}","comments_url":"https://api.github.com/repos/khulnasoft/khulnasoft/comments{/number}","issue_comment_url":"https://api.github.com/repos/khulnasoft/khulnasoft/issues/comments{/number}","contents_url":"https://api.github.com/repos/khulnasoft/khulnasoft/contents/{+path}","compare_url":"https://api.github.com/repos/khulnasoft/khulnasoft/compare/{base}...{head}","merges_url":"https://api.github.com/repos/khulnasoft/khulnasoft/merges","archive_url":"https://api.github.com/repos/khulnasoft/khulnasoft/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/khulnasoft/khulnasoft/downloads","issues_url":"https://api.github.com/repos/khulnasoft/khulnasoft/issues{/number}","pulls_url":"https://api.github.com/repos/khulnasoft/khulnasoft/pulls{/number}","milestones_url":"https://api.github.com/repos/khulnasoft/khulnasoft/milestones{/number}","notifications_url":"https://api.github.com/repos/khulnasoft/khulnasoft/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/khulnasoft/khulnasoft/labels{/name}","releases_url":"https://api.github.com/repos/khulnasoft/khulnasoft/releases{/id}","deployments_url":"https://api.github.com/repos/khulnasoft/khulnasoft/deployments","created_at":"2015-08-24T07:27:28Z","updated_at":"2019-05-27T08:08:40Z","pushed_at":"2019-05-27T11:08:19Z","git_url":"git://github.com/sourcegraph/sourcegraph.git","ssh_url":"git@github.com:sourcegraph/sourcegraph.git","clone_url":"https://github.com/sourcegraph/sourcegraph.git","svn_url":"https://github.com/khulnasoft/khulnasoft","homepage":"https://khulnasoft.com","size":302301,"stargazers_count":2220,"watchers_count":2220,"language":"HTML","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":false,"has_pages":false,"forks_count":164,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":842,"license":{"key":"other","name":"Other","spdx_id":"NOASSERTION","url":null,"node_id":"MDc6TGljZW5zZTA="},"forks":164,"open_issues":842,"watchers":2220,"default_branch":"master","organization":{"login":"sourcegraph","id":3979584,"node_id":"MDEyOk9yZ2FuaXphdGlvbjM5Nzk1ODQ=","avatar_url":"https://avatars0.githubusercontent.com/u/3979584?v=4","gravatar_id":"","url":"https://api.github.com/users/sourcegraph","html_url":"https://github.com/sourcegraph","followers_url":"https://api.github.com/users/sourcegraph/followers","following_url":"https://api.github.com/users/sourcegraph/following{/other_user}","gists_url":"https://api.github.com/users/sourcegraph/gists{/gist_id}","starred_url":"https://api.github.com/users/sourcegraph/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/sourcegraph/subscriptions","organizations_url":"https://api.github.com/users/sourcegraph/orgs","repos_url":"https://api.github.com/users/sourcegraph/repos","events_url":"https://api.github.com/users/sourcegraph/events{/privacy}","received_events_url":"https://api.github.com/users/sourcegraph/received_events","type":"Organization","site_admin":false},"network_count":164,"subscribers_count":49}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ef551219369cc4a1db2031bf2386625a"
      Last-Modified:
      - Mon, 27 May 2019 08:08:40 GMT
      Status:
      - 200 OK
      X-Github-Media-Type:
      - github.v3; param=jean-grey-preview; format=json
    status: 200 OK
    code: 200
    duration: ""
